{% extends "base.html" %}

{% block content %}

  <div class="col-xl-12 col-md-6">
      <div class="card card-event">
        <div class="card-block">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <h5 class="m-0">Title: {{ newspaper.title }}</h5>

            </div>
          </div>
          <h6 class="text-muted mt-4 mb-0">
          <h6 class="m-0">Redactors</h6>
            {% for redactor in newspaper.publishers.all %}
              <li>{{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})</li>
            {% endfor %}
          </h6>
          <i class="feather icon-star-on text-c-green f-50"></i>
          <br>
          <a href="{% url 'agency:newspaper-update' pk=newspaper.id %}" class="btn btn-outline-success">
            Update
          </a>
          <a href="{% url 'agency:newspaper-delete' pk=newspaper.id %}" class="btn btn-outline-danger">
            Delete
          </a>

        </div>
      </div>

    <br>
  </div>
{% endblock %}
