{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ redactor.username }}
  </h1>

  <p><strong>First name:</strong> {{ redactor.first_name }}</p>
  <p><strong>Last name:</strong> {{ redactor.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }}</p>
  <p><strong>Email:</strong> {{ redactor.email }}</p>

  <div class="ml-3">
    <h4>Newspapers</h4>

    {% for newspaper in redactor.newspapers.all %}
        <hr>
        <p><strong>Title:</strong> {{ newspaper.title }}</p>
        <p><strong>Topic:</strong> {{ newspaper.topic.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{newspaper.id}}</p>

    {% empty %}
      <p>No newspaper!</p>
    {% endfor %}
    <a href="{% url 'agency:redactor-update' pk=redactor.id %}" class="btn btn-primary">
      Update
    </a>
    <a href="{% url 'agency:redactor-delete' pk=redactor.id %}" class="btn btn-danger">
      Delete
    </a>
  </div>
{% endblock %}
