{% extends "base.html" %}

{% block content %}
    <h1>Redactor List
    <a href="{% url 'agency:redactor-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
    </h1>

    {% if redactor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
      </tr>
    {% for redactor in redactor_list %}
      <tr>
        <td>{{ redactor.id }}</td>
        <td><a href="{% url 'agency:redactor-detail' pk=redactor.id %} ">{{ redactor.username }}</a></td>
        <td>{{ redactor.first_name }}</td>
        <td>{{ redactor.last_name }}</td>
        <td>{{ redactor.years_of_experience }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no redactors in the agency.</p>
    {% endif %}
{% endblock %}
