asgiref==3.7.2
beautifulsoup4==4.12.2
bootstrap4==0.1.0
crispy-bootstrap4==2022.1
dj-database-url==2.0.0
Django==4.2.3
django-bootstrap4==23.2
django-crispy-forms==2.0
gunicorn==21.2.0
packaging==23.1
psycopg2==2.9.6
python-dotenv==1.0.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
whitenoise==6.5.0
