{% load static %}

<header class="navbar pcoded-header navbar-expand-lg navbar-light">
  <div class="m-header">
    <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
    <a href="{% url 'agency:index' %}" class="b-brand">
      <div class="b-bg">
        <i class="feather icon-trending-up"></i>
      </div>
      <span class="b-title">News Agency</span>
    </a>
  </div>
  <a class="mobile-menu" id="mobile-header" href="javascript:">
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i
            class="feather icon-maximize"></i></a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li>
        <label>
          <i class="icon feather icon-sun" id="theme-indicator"></i>
          <input type="checkbox" id="theme-switch" class="d-none">
        </label>
      </li>
      <li>
        <div class="dropdown drp-user">
          <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon feather icon-settings"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-notification">
            <div class="pro-head">
              <span>
                {% if user.is_authenticated %}
                  <a href={% url 'agency:redactor-detail' pk=user.id %}>{{ user.get_username }}</a>
                {% else %}
                  <a href="{% url 'login'%}?next={{request.path}}">Login
                  <i class="feather icon-log-in"></i>
                  </a>
                {% endif %}
              </span>
              {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}?next={{request.path}}" class="dud-logout" title="Logout">
                  <i class="feather icon-log-out"></i>
                </a>
              {% endif %}
            </div>
            <ul class="pro-body">
              {% if user.is_authenticated %}
              <li><a href={% url 'agency:redactor-detail' pk=user.id %} class="dropdown-item><i class="feather icon-user"></i>
                  Profile</a></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>